@charset "UTF-8";

@font-face {
    font-family: 'Alata';
    src: url('../fontskk/Alata-Regular.ttf') format('truetype');
}

body{
    height: 100%;
    background-image: linear-gradient(to bottom, #574AA8, #6558C7);
    text-align: center;
    background-attachment: fixed;
}
*{
    font-family: 'Alata', Arial, Helvetica, sans-serif;
}
div{
    position: absolute;
    top: 50%;
    left: 50%;
    /*background-color:#AEA7E1; */
    background-image: linear-gradient(to bottom, #E9E1FF, #AEA7E1);
    text-align: center;
    height: 200px;
    width: 600px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 45px;
    transform: translate(-50%, -50%);
} 
input[name='aa'], textarea {
    background-color: #574AA8; 
    border: 5px;
    border-radius: 10px;
}